@import "./custom-mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

p {
  margin: 0;
}

#app {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  max-width: 600px;
  background: $body-bg;
}

.app-container{
  min-height: 100vh;
}